.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.7s forwards; /* Adjust duration as needed */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
